# --- Основные настройки приложения ---
APP_APP_NAME="Biologic System Backend API"
APP_API_V1_PREFIX="/api/v1"
APP_DEBUG=False
APP_IS_DEV=True

APP_DOCS_URL="/docs"
APP_OPENAPI_URL="/openapi.json"

APP_DATABASE_URL="postgresql+asyncpg://biologic:biologic@127.0.0.1:5432/biologic"
APP_ALEMBIC_DATABASE_URL="postgresql+asyncpg://biologic:biologic@127.0.0.1:5432/biologic"

APP_JWT_SECRET_KEY="change-me-local-jwt-secret"
APP_JWT_ALGORITHM="HS256"

APP_ACCESS_TOKEN_TTL_SECONDS=40
APP_REFRESH_TOKEN_TTL_SECONDS=60

APP_ACCESS_COOKIE_NAME="access_token"
APP_REFRESH_COOKIE_NAME="refresh_token"
APP_AUTH_COOKIE_SAMESITE="lax"

# Оставьте пустым для автоматического определения (None)
# Для работы по HTTP (локально) поставьте False, для HTTPS — True
APP_AUTH_COOKIE_SECURE=False
APP_AUTH_COOKIE_DOMAIN=
APP_AUTH_COOKIE_PATH="/"